html, .page {
    height: 100%;
}

.page {
    padding: 20px;

    background-position: center;
    background-size: cover;

    transition: background-color 1s ease-in;
}

.page__quote {
    display: block;

    padding: 10px;

    color: black;
    line-height: 34px;

    border-radius: 10px 0;

    background-color: white;
}
